	/*General*/
h1, h2, h3, h5{
	font-family: 'Julius Sans One', sans-serif;
}

p{
	font-family: 'Poiret One', cursive;
	font-size: 16px;
	color: black;
	font-weight: 600;
	letter-spacing: 1px;
}

body{
	background-color: white
}

	/*Navbar*/
#navBar{
	background-image: url('../img/IMG_7661_cropped2.jpg');
	background-size: cover;
	/*background-color: rgba(233,235,234,.68);*/
}
#navHome:hover, #navPortfolio:hover, #navContact:hover{
	color: #EAAC2E;
	transition: .5s ease;
}
#navHome, #navAbout, #navPortfolio, #navContact{
	font-family: 'Poiret One', cursive;
	color: black;
	text-transform: uppercase;
	letter-spacing: 2px;
}
#toggleIcon{
	color: white;
}

	/*Full Bio Section*/
#aboutRow{
	margin-top: 100px;
}
#fullBioRow{
	margin-top: 40px;
}
#profilePicture{
	max-width: 80%;
	border-radius: 60px;
	margin-top: 40px;
}
#xoxo{
	margin-bottom: 0px;
}
#bioName{
	font-family: 'Zeyada', cursive;
	font-weight: normal;
	font-size: 50px;
	font-style: italic;
}
#viewPortfolioButton{
	font-family: 'Poiret One', cursive;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
}
#portfolioLink{
	color: black;
}
#portfolioLink:hover{
	text-decoration: none;
	color:#adadad;
}

	/*Contact Section*/
#contactRow{
	margin-top: 100px;
	margin-bottom: 220px;
}
#contactRowBreakdown{
	margin-top: 40px;
}
i{
	color: #aaabab;
}
i:hover{
	color: #e6e6e6;
	transition: .5s ease;
}