h1, h2, h3, h5{
	font-family: 'Julius Sans One', sans-serif;
}

p{
	font-family: 'Poiret One', cursive;
	font-size: 16px;
	color: black;
	font-weight: 600;
	letter-spacing: 1px;
}

body{
	background-color: white
}

	/*Navbar*/
#navBar{
	background-image: url('../img/IMG_7661_cropped2.jpg');
	background-size: cover;
}
#navHome:hover, #navAbout:hover, #navPortfolio:hover, #navContact:hover{
	color: #EAAC2E;
	transition: .5s ease;
}
#navHome, #navAbout, #navPortfolio, #navContact{
	font-family: 'Poiret One', cursive;
	color: black;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-shadow: 1px 1px white;
}
#toggleIcon{
	color: white;
}

	/*Carousel Section*/
#projectTitleRow{
	margin-top: 100px;
}
#carouselRow{
	margin-top: 30px;
	margin-right: auto;
}
.d-block{
	max-height: 450px;
	max-width: 857px;
	border-radius: 40px;
}
.carousel-indicators--round li {
  border-radius: 10px;
  margin: 1px 3px;
  height: 10px;
  max-width: 10px;
  border: 1px solid #5f5e5d;
  background-color: transparent;
}
.carousel-indicators .active {
  background-color: #5d5e5d;
  max-width: 12px;
  margin: 0 3px;
  height: 12px;
}

	/*Description Section*/
#descriptionRow{
	margin-top: 75px;
}
#viewProjectButton, #viewCodeButton{
	background-color: rgba(233,235,234,.68);
	font-family: 'Poiret One', cursive;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
}
#viewProjectButton:hover, #viewCodeButton:hover{
	transition: .5s ease;
	background-color: #e6e6e6;
}
#projectButton, #codeButton{
	color: black;
}
#projectButton:hover, #codeButton:hover{
	text-decoration: none;
}


	/*Contact Section*/
#contactRow{
	margin-top: 200px;
	margin-bottom: 250px;
}
#contactRowBreakdown{
	margin-top: 40px;
}
i{
	color: #aaabab;
}
i:hover{
	color: #e6e6e6;
	transition: .5s ease;
}