h1, h2, h3, h5{
	font-family: 'Julius Sans One', sans-serif;
}

p{
	font-family: 'Poiret One', cursive;
	font-size: 16px;
	color: black;
	font-weight: bold;
	letter-spacing: 1px;
}

body{
	background-color: white
}

	/*Navbar*/
#navBar{
	background-image: url('../img/CoverImageTwo.jpg');
	background-size: cover;
}
#navHome, #navAbout, #navPortfolio, #navContact{
	font-family: 'Poiret One', cursive;
	color: white;
	text-transform: uppercase;
	letter-spacing: 2px;
}
#toggleIcon{
	color: white;
}

	/*Portfolio Section*/
#portfolioRow{
	margin-top: 100px;
}
#portfolioImagesRow{
	margin-top: 40px;
}
.img_link{
	max-height: 100%;
	max-width: 100%;
	display: block;
	border-radius: 40px;
}

a{
	display: inline-block;
	position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 100%;
  max-width: 100%;
  margin: 0;
  opacity: 0;
  transition: .5s ease;
  border-radius: 40px;
  background-color: rgba(238, 238, 238, .9);
}
a:hover .overlay {
  opacity: 1;
}
.title {
  color: black;
  font-size: 20px;
 	font-family: 'Poiret One', cursive;
 	font-weight: bold;
	letter-spacing: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/*Contact Section*/
#contactRow{
	margin-top: 100px;
	margin-bottom: 220px;
}
#contactRowBreakdown{
	margin-top: 40px;
}
i{
	color: #5f5e5d;
}
i:hover{
	color: #e6e6e6;
	transition: .5s ease;
}
