	/*General*/
h1, h2, h3, h5{
	font-family: 'Julius Sans One', sans-serif;
}

p{
	font-family: 'Poiret One', cursive;
	font-size: 16px;
	color: black;
	font-weight: bold;
	letter-spacing: 1px;
}

body{
	background-color: white;
}

	/*Navbar*/
#navBar{
	background-color: rgba(233,235,234,.68);
}
#navHome:hover, #navAbout:hover, #navServices:hover, #navContact:hover{
	color: #EAAC2E;
	transition: .5s ease;
}
#navHome, #navAbout, #navServices, #navContact{
	font-family: 'Poiret One', cursive;
	color: black;
	text-transform: uppercase;
	letter-spacing: 2px;
}
#toggleIcon{
	color: white;
}

	/*Jumbotron*/
#jumbotron{
	background-image: url('../img/IMG_7661_cropped2.jpg');
	background-size: cover;
	max-height: 650px;
}
#name{
	font-family: 'Julius Sans One', sans-serif;
	font-size: 3rem;
	color: #57b6a2;
	text-shadow: 1px 1px white;
}
#description{
	color: white;
	text-transform: uppercase;
	letter-spacing: 2px;
}
#tagLine{
	margin-top: 450px;
}

	/*Sections*/
#aboutRow{
	margin-top: 200px;
} 
#servicesRow{
	margin-top: 200px;
}
#contactRow{
	margin-top: 200px;
	margin-bottom: 200px;
}

	/*About Section*/
#elevatorPitch{
	margin-top: 30px;
	margin-bottom: 40px;
}
#learnMoreButton{
	background-color: rgba(233,235,234,.68);
	font-family: 'Poiret One', cursive;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
}
#learnMoreButton:hover{
	transition: .5s ease;
	background-color: #e6e6e6;
}
#bioButton{
	color: black;
}
#bioButton:hover{
	text-decoration: none;
}

	/*Services Section*/
#servicesBreakdownRow{
	margin-top: 40px;
	margin-bottom: 30px;
}
#viewPortfolioButton{
	background-color: rgba(233,235,234,.68);
	font-family: 'Poiret One', cursive;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
}
#viewPortfolioButton:hover{
	transition: .5s ease;
	background-color: #e6e6e6;
}
#portfolioButton{
	color: black;
}
#portfolioButton:hover{
	text-decoration: none;
}

	/*Contact Section*/
#contactRowBreakdown{
	margin-top: 40px;
}
i{
	color: #aaabab;
}
i:hover{
	color: #e6e6e6;
	transition: .5s ease;
}